@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter-sans);;
}




body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter;
  padding: 20px;
}

/* file styles.css */
.border-dashed-long {
  border-style: dashed;
  border-width: 2px;
  border-radius: 8px;
  border-color: #6b7280; /* gray-500 */
  border-image: none;
  /* atur panjang dash dan spasi */
  border-spacing: 6px;
}
